.btn-primary {
    color: #fff;
    background-color: #C55FFC !important;
    border-color: #ececec !important;
}

.centered{
   
    display: flex;
    height: 100vh; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 30%;
    padding-left: 30%;

}
.h2{
    padding-bottom: 12%;
    color: #323E42;
}


.gray-container{
    background-color: #EFDCF9  ;

    padding:10%;

    border-radius: 5px;
   
}