.btn-primary {
    color: #fff;
    background-color: #C55FFC !important;
    border-color: #ececec !important;
}

.centered{
   
    display: flex;
    height: 100vh; 
    flex-direction: row;
   padding-top: 5%;
    padding-right: 35%;
    padding-left: 35%;

}
.h2{
  text-align: left;
    padding-bottom: 7%;
    color: #323E42;
}

.icon-img{
  align-items: left;
  padding-left: 0%;
}

.gray-container{
    background-color: #EFDCF9  ;

    padding:10%;

    border-radius: 5px;
   
}
html {
    box-sizing: border-box;
  }
  *,*::before,*::after {
    box-sizing: inherit;
  }
  body {
    margin: 0;
  }
  .wave-container {
    background: #EEE;
  }
  .wave-container > svg {
    display: block;
  }