/* #root{
    overflow:hidden;
} */

.asidepage{
    display: flex;
    height: 100vh;
    align-content: center;
    /* justify-content: space-between; */
    overflow-y: scroll;
   overflow-x:visible;
}

.asidepage_session{
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: space-between;
}


.aside__bar{
    background-color: #323E42;
    width: 20%;
    height: 100%;
}

/* .aside__main{
 width: auto;
    margin: 0 5% 0 5%; 
   padding-left: 25%; 
 overflow-y: scroll;
   overflow-x:visible;
} */

.aside__list{
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
   
}

.aside__list .aside__item{
text-decoration: none;
width: 100%;
border: 1px solid #fff;
display: flex;
font-size: large;
padding: 20px;
color: #efdcf9 ;
}

.aside__list .aside__item:hover{
cursor: pointer;
background-color:#7954a1 ;
}


#aside__item__icon{
    flex:30%;
    display: grid;
    place-items: center;
}

#aside__item__title{
    flex:70%;

}


.flexbtn{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.flexbtn>*{
    width: 50%;
    height: 50% ;
  
}

.editbtn {
    color: #fff;
    background-color: #007bff !important;
   
}   

.deletebtn{
    color: #fff;
    background-color: #e70303 !important;
    

}

.icon-img{
    width: 70px;
    height: 70px;
    margin-bottom: 2rem;
}
.reset{
    color: black;
}

.row{
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 10%;
}
.myProfile__container{
    width: 100%;
  
    
}


.booking__container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* justify-content: space-around; */
    margin:1%;
    text-align: center;
    width: 100%;
    margin-left: -5%;
    padding-left: 40%;
}


.booking__container>*{
    align-items: center;
    justify-content: center;
    margin:10px;
}

/* .sessions{
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 60%;
    margin-right:  55%; 
} */

.sessions{
 
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: -250%;
    text-align:center;
    align-items: center;
  
}
