/*  #C55FFC 
    #323E42
    
*/
/* .navbar{
} */

.purpel{
    background-color: #C55FFC
}

.header{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
}

.info{
    margin-left: 1%;
    color:white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.info h2{
    text-transform: capitalize;
}

.pic{
    height: 200px;
    width:200px;
    border-radius: 50%;
    background-color: white;
    
}

.stars-rating{
    text-align: center;
}

.App {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vh;
  }
  
  .seperator {
    width: 100%;
  }
  
  .controls-wrapper {
    width: 100%;
  }
  
  .carousel-wrapper {
    width: 100%;
  }
  
  .rec-carousel-item:focus {
    outline: none;
    box-shadow: inset 0 0 1px 0px white;
  }
  
 .item{
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 250px;
    width: 100%;
    background-color: #C55FFC;
    color: #fff;
    margin: 10px;
 }

 .item .top{
     top:0;
     display: flex;
     flex-direction:column;
 }
.text-muted{
    color: black!important;
}
 .text{
     color: #C55FFC;
     text-transform:capitalize;
 }
 .cGKbZh{
    color: #fff !important;
 }
 .ehkxHv{
     color: #323E42 !important;
 }

 .cont{
    width: 95%;
     text-align:center;
 }


  .cont h2{
      color: #C55FFC;
      background-color: #fff;
  }

  .pname{
      margin-left: 5px;
      font-size:18px;
      font-weight:bold;
      color:#C55FFC;
      text-transform:capitalize;
  }
  .desc{
      font-size: 20px;
      text-align:left;
  }

  .trans{
      text-transform: capitalize;
  }

  .rating{
      display: flex;
      justify-content:center;
      align-items:center;
      width: 100%;
  }
  
  @media only screen and (max-width: 400px) {

     .desc{
        text-align:center;
    }
    
  }

