#img__card{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    padding: 10px;
}

.Searchclass{
 display: flex;
 flex-direction: row;
 justify-content: center;
text-align: center;
align-items: center;
padding-top: 5%;
padding-left: 5%;

}

.Cardclass{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
   text-align: center;
   align-items: center;
  

}

.img__card__container{
    
    align-items: center;
    justify-content: center;
    text-align: center;

}



.card__info{
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #323E42    ;
}

