/* * {
	
	box-sizing: border-box;
} */


.bbtn {
	color: #fff;
	border: 1px solid #a9a9a9 ;
    background-color: #C55FFC !important;
    border-color: #C55FFC !important;
	border-radius: 5px;
	width: 75%;
	padding: 10px;
	
  }

.form-group {
  display: flex;
  justify-content: center;
  width: 100%;
}

  .div{
	  padding-top: 3%;
    width: 70%
  }
  .h2{
	  padding-bottom: 4%;
  }
